.big-text{
    font-size: 62px;
    background-color: #007991;
    color: white;
    padding: 100px 0;
    padding-left: 80px;
}

.contact{
    font-size: 40px;
    font-weight: bold;
}

.contact-name{
    font-size: 50px;
}

.hrline{
    color: black;
    border: 2px solid black;
}

.blueColor{
    color: #0A0E4F;
}

.orange-icon{
    color: #FFAB5E;
}

.green-text{
    color: #199286;
    text-decoration: none;
}

.green-text:hover{
    color: #199286;
}
.black-link{
    color: black;
    margin: 0 5px;
}

.map-box{
    width: 80%;
    height: 250px;
    background-color: black;
}