
.header2 {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0A0E4F;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0 60px;
    z-index: 1000;
}

.navbar ul li >  a{
    text-decoration: none;
}


.header2 .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}

.header2 .navbar {}

.header2 .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 20;
}

.header2 .navbar ul li {
    position: relative;
    /* float: left; */
}

.header2 .navbar ul li a {
    font-size: 17px;
    padding: 10px;
    /* color: #333; */
    display: block;
    color: white;
}

.header2 .navbar ul li a:hover {
    background-color: #0A0E4F;
    /* color: #fff; */
}

.header2 .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 250px;
    /* background-color: #fff; */
    display: none;
    padding-left: 0;
}

.header2 .navbar ul li ul li {
    background-color: #199286;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.header2 .navbar ul li ul li ul {
    left: 250px;
    top: 0px;
    border-left: 5px solid black;
    /* max-height: 300px; */

}
.header2 .navbar ul li ul li ul li {
    background-color: #199286;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.header2 .navbar ul li ul li ul li ul {
    left: 250px;
    top: 0px;
    /* max-height: 300px; */
    border-left: 5px solid black;

}
.header2 .navbar ul li ul li ul li {
    background-color: #199286;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.header2 .navbar ul li ul li ul li ul li ul {
    left: 250px;
    top: -200px;
    /* max-height: 100%; */
    border-left: 5px solid black;

}
.header2 .navbar ul li ul li ul li ul li {
    background-color: #199286;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}


#fifth-nav {
    left: 250px;
    top: -100px;
    /* max-height: 300px; */
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    border-left: 5px solid black;
}
#fifth-nav-big {
    left: 250px;
    top: -300px;
    border-left: 5px solid black;
}
/* #fourth-nav {
    left: 250px;
    top: -150px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 5px solid black;
} */





.header2 .navbar ul li:hover>ul {
    display: initial;
}


#menu-bar {
    display: none;
}

.header2 label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}


/* ----------------------------------------------- */
@media (max-width: 991px) {
    .header2 {
        padding: 20px;
        /* overflow-y: scroll; */
    }
    
    .header2 label {
        display: initial;
    }
    
    
    .header2 .navbar {
        /* background: #0A0E4F; */
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        /* border-top: 1px solid rgba(0, 0, 0, .1); */
        display: none;
        padding: 0;
        background-color: #199286;
    }
    
    .header2 .navbar ul {
        padding: 0;
    }
    .header2 .navbar ul li {
        width: 100%;
    }
    
    .header2 .navbar ul li ul {
        border-top: 1px solid white;
        position: relative;
        width: 100%;
    }
    
    .header2 .navbar ul li ul li {
        background: #199286;        
        border-top: 1px solid white;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .header2 .navbar ul li ul li{
        width: 100%;
        left: 10;
        border-left: 0;
    }
    .header2 .navbar ul li ul li ul li ul {
        left: 0px;
        top: 0px;
        border-left: 0;
    }
    .header2 .navbar ul li ul li ul {
        width: 100%;
        left: 0;
        border-left: 0;
    }
    .header2 .navbar ul li ul li ul li ul li ul {
        left: 0px;
        top: 0px;
        border-left: 0;
    }

    .header2 .navbar ul li ul li ul li ul li {
        background-color: #199286;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

        #fifth-nav {
            left: 0px;
            top: 0px;
            border-left: 0;
        }
    
        #fifth-nav-big {
            left: 0px;
            top: 0px;
            border-left: 0;
        }

    #menu-bar:checked~.navbar {
        display: initial;
    }

    .header2 .navbar ul li a {
        font-size: 20px;
        padding: 20px;
        /* background-color: #0A0E4F; */
        display: block;
        color: white;
    }

    .header2 .navbar ul li a:hover {
        background-color: #0A0E4F;
        color: white;
    }

    .header2 .navbar ul li a {
        font-size: 15px;
        padding: 10px;
        /* color: #333; */
        display: block;
    }

    #fourth-nav {
        left: 0px;
        top: 0px;
        max-height: auto;
        overflow-y: auto;
        overflow-x: hidden;
    }

}
