.purple-icons{
    background-color: #7C5EFF;
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
}

.blue-bg-round{
    background-image: url('../../Images/bg-2.png');
    background-position: center;
    border-radius: 0px 0px 200px 0px;
    position: relative;
}

.blue-bg-round-color{
    background-color: #174789;
    border-radius: 0px 0px 200px 0px;
    opacity: 0.6;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.show-front{
    z-index: 3;
}

.mid-line{
    border-left: 2px solid black;
    height: 100%;
    padding: 0 0 0 50px ;
}

.justify-text{
    text-align: justify;
}

.right-text{
    font-family: 'Poppins', sans-serif;
}

.gray-bg{
    background-color: #E7E0EA;
}

.title p{
    text-align: justify;
}

 /*------------------- Mobile view  ---------------*/
 @media only screen and (max-width: 576px) {
    .mid-line {
            border-right: 0;
        }
 }